{% extends 'core/base.html' %}
{% block content %}
<p>MEME</p>

<form action="/upload/" method="post" enctype="multipart/form-data">{% csrf_token %}
    <p><input type="file" capture="camera" accept="image/*" id="image" name="image"></p>
    <input type="submit" value="Submit" />
</form>

<script>
$('#id_image').on('change', function(e){
 $data = e.originalEvent.target.files[0];
  $reader = new FileReader();
  reader.onload = function(evt){
  $('#your_img_id').attr('src',evt.target.result);
  reader.readAsDataUrl($data);
}});
</script>
{% endblock %}
